html {
  color: #e34f26;
}

.css{
  color: #1572b6
}

js{
    color: #f7df1e;
}

.react{
  color: #61dafb;
}

.git{
  color: #f1502f;
}

.github{
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0f0f0f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.navbar{
  width: 100%;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo{
  color: orange;
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li{
  cursor: pointer;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover{
  color: orange;
}



.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  gap: 50px;
  background: #0f172a;
}

.hero-content{
  flex: 1;
}

.hero-content h3{
  color: orange;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hero-content h1{
  font-size: 5rem;
  margin-bottom: 10px;
}

.hero-content h2{
  font-size: 2.5rem;
  color: #cccccc;
  margin-bottom: 20px;
}

.hero-content p{
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #aaaaaa;
  margin-bottom: 30px;
}

.hero-buttons{
  display: flex;
  gap: 20px;
}

.btn-outline{
  padding: 14px 30px;
  border: 2px solid orange;
  background: transparent;
  color: orange;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover{
  background: orange;
  color: black;
  transform: translateY(-3px);
}

.hero-image img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid orange;
  box-shadow: 0 0 30px rgba(255,165,0,0.5);
}


.about{
  width: 100%;
  padding: 120px 8%;
  background: #111111;
}

.about h2{
  font-size: 3rem;
  color: orange;
  margin-bottom: 30px;
  text-align: center;
}

.about p{
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2;
  color: #cccccc;
}


.skills{
  width: 100%;
  padding: 120px 8%;
  background: #0f0f0f;
}

 .skill-icon{
  font-size: 4rem;
  margin-bottom: 20px;
}

.skill-card h3{
  margin-top: 10px;
}

.skills h2{
  text-align: center;
  font-size: 3rem;
  color: orange;
  margin-bottom: 50px;
}

.skills-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.skill-card{
  padding: 25px 40px;
  background: #1a1a1a;
  border: 1px solid #222;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.skill-card:hover{
  transform: translateY(-10px);
  border-color: orange;
  color: orange;
  box-shadow: 0 0 20px rgba(255,165,0,0.3);
}



.projects{
  width: 100%;
  padding: 120px 8%;
  background: #111111;
}

.projects h2{
  text-align: center;
  font-size: 3rem;
  color: orange;
  margin-bottom: 60px;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 30px;
}

.project-card{
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

.project-card:hover{
  transform: translateY(-10px);
  border-color: orange;
  box-shadow: 0 0 20px rgba(255,165,0,0.3);
}

.project-card h3{
  margin-bottom: 15px;
}

.project-card p{
  color: #cccccc;
  line-height: 1.8;
  margin-bottom: 20px;
}

.project-card button{
  padding: 12px 24px;
  border: none;
  background: orange;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.project-card button:hover{
  transform: scale(1.05);
}

.project-card img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-buttons{
  display: flex;
  gap: 15px;
}

.contact{
  width: 100%;
  padding: 120px 8%;
  background: #0f0f0f;
  text-align: center;
}

.contact h2{
  font-size: 3rem;
  color: orange;
  margin-bottom: 20px;
}

.contact p{
  color: #bbbbbb;
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.contact-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-links a{
  padding: 14px 30px;
  border: 2px solid orange;
  border-radius: 10px;
  text-decoration: none;
  color: orange;
  font-weight: bold;
  transition: 0.3s;
}

.contact-links a:hover{
  background: orange;
  color: black;
  transform: translateY(-3px);
}



.footer{
  width: 100%;
  padding: 30px;
  text-align: center;
  background: #111111;
  border-top: 1px solid #222;
}

.footer p{
  color: #888888;
}



@media(max-width: 900px){

  .navbar{
    padding: 20px 5%;
  }

  .nav-links{
    gap: 15px;
  }

  .hero{
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
  }

  .hero-content h1{
    font-size: 3rem;
  }

  .hero-content h2{
    font-size: 2rem;
  }

  .hero-buttons{
    justify-content: center;
  }

  .hero-image img{
    width: 250px;
    height: 250px;
  }

}